.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	margin: 32px 32px;
	padding: 32px 32px;
	font-size: calc(12px + 2vmin);
	background-color: #cdcdcd;
	border-radius: 4px;
	box-shadow: 0px 1px 1px black;
	animation: change-color 10s infinite linear;
}

.text code {
	display: block;
	padding: 4px 0px;
}

@keyframes change-color {
	0% {
		background-color: #cdcdcd;
	}
	50% {
		background-color: white;
	}
	100% {
		background-color: #cdcdcd;
	}
}
